@import "~/.config/matugen/generated/rofi.rasi"

* {
    background-color: @bg;
    text-color: @fg;
}

window {
    background-color: @bg;
    border: 2px;
    border-color: @border-col;
    border-radius: 20px;
    padding: 0;

    location: center;
    anchor: center;
}

scrollbar {
    width: 6px;
    border-radius: 10px;
    handle-color: @accent;
    background-color: @bg-alt;
}

entry {
    cursor-color: @accent;
}
