@define-color base      #eff1f5;
@define-color surface0  #ccd0da;
@define-color surface1  #bcc0cc;
@define-color text      #4c4f69;
@define-color mauve     #8839ef;
@define-color blue      #1e66f5;
@define-color sky       #04a5e5;
@define-color green     #40a02b;
@define-color red       #d20f39;
@define-color peach     #fe640b;
@define-color sapphire  #209fb5;

