@define-color base   #1e1e2e;
@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color text   #cdd6f4;
@define-color mauve  #cba6f7;
@define-color blue   #89b4fa;
@define-color sky    #89dceb;
@define-color green  #a6e3a1;
@define-color red    #f38ba8;
@define-color peach  #fab387;
@define-color sapphire #74c7ec;
