/* Shared CSS for Waybar and SwayNC */
@define-color bg {{ colors.background.default.hex }};
@define-color bg_alt {{ colors.surface_container.default.hex }};
@define-color bg_alt2 {{ colors.surface_container_high.default.hex }};

@define-color fg {{ colors.on_background.default.hex }};
@define-color fg_muted {{ colors.on_surface_variant.default.hex }};

@define-color accent {{ colors.primary.default.hex }};
@define-color accent_fg {{ colors.on_primary.default.hex }};

@define-color accent_alt {{ colors.secondary.default.hex }};
@define-color accent_alt_fg {{ colors.on_secondary.default.hex }};

@define-color success {{ colors.tertiary.default.hex }};
@define-color success_fg {{ colors.on_tertiary.default.hex }};

@define-color warning {{ colors.inverse_primary.default.hex }};

@define-color error {{ colors.error.default.hex }};
@define-color error_fg {{ colors.on_error.default.hex }};

@define-color outline {{ colors.outline.default.hex }};
